<nav>
  <div class="site-title">
    <a href="/"><h1>Members Only Messaging board</h1> </a>
    <p>an exlusive messaging board for exclusive people</p>
  </div>
  <ul>
    <li><a href="/">Log In</a></li>
    <li><a href="/categories">Sign Up</a></li>
  </ul>
</nav>
