<content class="home__contentContainer">
  <h2 class="home__welcome">Welcome</h2>
  <% if (failureMessage === true) { %>
  <div class="signup__passwordError">Passwords do not match</div>
  <% } %>
  <form action="/" method="POST">
    <div class="input__row">
      <label for="username">Username</label>
      <div class="input__rowIconAndText">
        <div class="loginIcon">👤</div>
        <input
          name="username"
          id="username"
          type="text"
          placeholder="username"
          required
        />
      </div>
    </div>
    <div class="input__row">
      <label for="password">Password</label>
      <div class="input__rowIconAndText">
        <div class="loginIcon">🔒</div>
        <input
          name="password"
          id="password"
          type="password"
          maxlength="20"
          required
        />
      </div>
    </div>
    <% if (message) { %>
    <div class="inputError"><%= message%></div>
    <% } %>
    <button class="submitBtn" type="submit">Log In</button>
  </form>
  <div class="home__signUpRow">
    <h2>not registered?</h2>
    <div class="button__row">
      <button><a href="/signUp">Sign Up</a></button>
      <button type="button">Guest Mode</button>
    </div>
  </div>
</content>
