<content class="messageBoard__mainContainer">
  <div class="messageBoard__headerContainer">
    <h2>Welcome To Members Only</h2>
    <a href="/new-post">➕ Add Post</a>
  </div>
  <% posts.forEach((post) => { %>
  <div class="messageBoard__postContainer">
    <div class="messageBoard__postTopRow">
      <div class="messageBoard__postDetails">
        <h3><%= post.title%></h3>
        <div><%= post.author.username%></div>
        <div><%= post.timestamp%></div>
      </div>
      <button>delete post</button>
    </div>

    <p><%= post.textContent%></p>
  </div>
  <%})%>
</content>
