.messageBoard__mainContainer {
    width: 100%;
    max-width: 90vw;
    height: 100%;
    box-sizing: border-box;
}

.messageBoard__headerContainer {
    margin-top: 5vh;
    margin-bottom: 15px;
    background-color: #eef3ff;
    border-radius: 18px;
    padding: 25px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .messageBoard__headerContainer h2 {
        font-size: 2rem;

    }
    .messageBoard__headerContainer a {
        all: unset;
        cursor: pointer;
        font-size: 1.1rem;
        align-self: flex-end;
        color: rgb(60, 79, 167);
        margin-right: 5px;

    }
        .messageBoard__headerContainer a:hover {
            transform: scale(1.05);
            color: rgb(67, 94, 218);

        }

.messageBoard__posts {
    padding: 0 20px;
}

.messageBoard__postContainer {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid grey;
}
    .messageBoard__postContainer div, .messageBoard__postContainer p {
        background-color: #f8f8f8;
    }
    .messageBoard__postTopRow {
        display: flex;
        justify-content: space-between;
    }
        .messageBoard__postDetails {
            font-size: .6rem;
        }


        .messageBoard__postContainer h3 {
            text-align: left;
            font-size: 1.5rem;
        }

        .messageBoard__deletePostBtn {
            all: unset;
            cursor: pointer;
            color: rgb(239, 104, 104);
            font-size: 1.4rem;
            align-self: flex-start;
        }
            .messageBoard__deletePostBtn:hover {
                color: rgb(178, 92, 92);
                transform: scale(1.2);
            }
    .messageBoard__postContainer p {
        height: fit-content;
        min-height: 50px;
        padding: 20px 10px 10px 20px;
        font-size: 1rem;
    }