.submitBtn {
    all: unset;
    background-color: rgb(60, 79, 167);
    color: white;
    border-radius: 18px;
    text-align: center;
    width: 100%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    
}

.dangerBtn {
    all: unset;
    background-color: rgb(208, 119, 109);
    justify-self: center;
    color: white;
    border-radius: 18px;
    text-align: center;
    width: 40%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}